<div class="blogPost-card">
  <div class="blogPost-card-header">
    {{blogTitleEntry}}
  </div>
  <div class="card-body">
    <p>
      Entry:
      {{blogBodyEntry}}
    </p>
    <p>
      Author:
      {{author}}
    </p>
  </div>
</div>